/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  font-family: 'Roboto';
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.capitals-container {
  background-color: #f8fafc;
  height: 37vh;
  width: 48vw;
  border-radius: 20px;
  align-self: center;
  padding: 25px;
  max-width: 345px;
}

/* 
@media screen and (min-width: 768px) {
  .card-container {
    padding-top: 44px;
    max-width: 52xpx;
    padding-left: 64px;
    padding-right: 64px;
  }
} */

.heading {
  font-size: 30px;
  color: #323f4b;
}

@media screen and (min-width: 768px) {
  .heading {
    text-align: left;
    font-size: 28px;
  }
}

.capital-select {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500px;
  height: 40px;
  width: 100px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-left: 8px;
  padding-top: 4px;
  padding-right: 4px;
  outline: none;
}

.country {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.option {
  color: #323f4b;
  font-size: 15px;
  text-align: center;
  padding: 2px;
  margin: auto;
}
